@model IEnumerable<CarRentalProject.Models.RentalOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarType">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarType">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarType">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
